<div class="body">
    <section class="container" ng-click="helloCtrl.flip()">
        <div class="fliper" id="layoutFliper">
            <figure class="front">
                <p class="title">
                    行動應用軟體技術開發<br>
                </p>
                <p class="title">
                    CafeApp
                </p>
            </figure>
            <figure class="back">
                <p class="title">
                    CafeApp0_Hello
                </p>
                <p class="content">
                    我用 {{helloCtrl.deviceType}} 手機購買咖啡劵
                </p>
            </figure>
        </div>
    </section>
</div>